@import "compass";


//Colors
//$primary		: 		#1a237e;	
//$secondary	: 		#1a237e;

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);

// For Text Rotator
.rotate {
  text-shadow: 0 0 0 !important; 
}

h1, h2, h3, h4, h5 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3 {
  font-weight: 700; 

  @media only screen and (max-width: $small-screen) {
    font-size: 30px;
    line-height: 36px;
  }
}

.home {
  padding: 60px 0;
  @media only screen and (min-width: $medium-screen) {
    padding: 120px 0; 
  }
}

.skills, .contact {
  padding: 45px 0;
  @media only screen and (min-width: $medium-screen) {
    padding: 90px 0; 
  }
}

.social {
	i {
    font-size:20px;
  }
  .mail {
    color: #000;
  }
}

q {
    quotes: "«" "»";
}

a[href^=tel] {
text-decoration:inherit;
color: inherit;
}

.link-github {
  position:absolute;
  display: inline-block;
  font-size: 2em;
  color: rgba(255,255,255,.8);
  top:1em;
  right: 1em;
  @include transition (all 0.3s ease);

  &:hover,
  &:focus {
    color: #fff;
  }
}

.posts {
  margin-top: 0px;
}
.posts li a, footer a {
  color: rgba(255,255,255,.8); //#64ffda teal accent-2
  @include transition (all 0.3s ease);

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: underline;
  }
}

.contact-item {
  display: block;
  color: rgba(255,255,255,.8);
  > i {
    font-size:20px;
    margin-right: 5px;
  }
}
footer h5 {
  color: rgba(255,255,255,.8);
}
