@import "compass/css3";


//Colors
//$primary		: 		#1a237e;	
//$secondary	: 		#1a237e;

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);

.rotate {
  text-shadow: 0 0 0 !important; 
}


h1, h2, h3, h4, h5 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3 {
  font-weight: 700; 

  @media only screen and (max-width: $small-screen) {
    font-size: 30px;
    line-height: 36px;
  }
}

.home {
  padding: 60px 0;
  @media only screen and (min-width: $medium-screen) {
    padding: 120px 0; 
  }
}

.skills, .contact {
  padding: 45px 0;
  @media only screen and (min-width: $medium-screen) {
    padding: 90px 0; 
  }
}


.social i {
	font-size:20px;
}


q {
    quotes: "«" "»";
}

a[href^=tel] {
text-decoration:inherit;
color: inherit;
}

.link-github {
  position:absolute;
  display: inline-block;
  font-size: 1.8em;
  color: #fff;
  top:1em;
  right: 1em;

  &:hover,
  &:focus {
    color: $button-color-disabled;
  }
}
