@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);
.rotate {
  text-shadow: 0 0 0 !important; }

h1, h2, h3, h4, h5 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3 {
  font-weight: 700; }

.home {
  padding: 120px 0; }

.skills, .contact {
  padding: 90px 0; }

.social i {
  font-size: 20px; }

@media screen and (max-width: 320px) {
  h1, h2, h3 {
    font-size: 30px;
    line-height: 36px; } }

q {
  quotes: "«" "»"; }

a[href^=tel] {
  text-decoration: inherit;
  color: inherit; }
